body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.image1 {
    background-image: url('https://cdn.britannica.com/70/234870-050-D4D024BB/Orange-colored-cat-yawns-displaying-teeth.jpg'); /* Replace with your image */
}

.image2 {
    background-image: url('https://cdn.britannica.com/70/192570-138-848FB7B3/penguin-species-places-Galapagos-Antarctica.jpg?w=800&h=450&c=crop'); /* Replace with your image */
}

.text-center {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: white;;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.block {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 20px;
}
