/* General styling for the profile card */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    background-color: rgb(188, 189, 191);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}


.invisible-table {
    width: 100%;
    border-collapse: collapse;
}

.invisible-table td {
    border: none;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.login {
    font-size: 18px;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 30px;
    margin: 0 5px;
}

.contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #45a049;
}
